body {
    background-color: aliceblue;
}

h1 {
    color :aquamarine;
}

#krishna {
    color: yellow;
}

nav {
    height: 50px;
    width: 100%;
    position: fixed;
    margin: -8px;
    background-color: navy;
}

